 /* Reset default styles */
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Basic styling for the internship card */
h1 {
    font-size: 2.5rem;
    text-align: center;
}

.internship-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 30px;
    margin: 10px;
}

.internship-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(173, 172, 172, 0.8);
    padding: 50px;
    font-size: 20px;
    margin: 20px;
    text-align: justify;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.internship-item ul li {
    line-height: 1.3rem;
}

.view-details {
    display: block;
    width: 50%;
    margin: 0 auto;
    background: rgb(11, 117, 224);
    padding: 20px;
    border-radius: 10px;
    color: white;
    border: none;
    margin-top: 20px;
    cursor: pointer;
}
.view-details button , a{
    text-decoration: none;
    color: white;
}
@media screen and (max-width:925px) {
    .internship-container {
        display: flex;
        flex-direction: column;
        width: calc(50%-40px);
    }
}

@media screen and (max-width:500px) {
    .internship-item {
        width: calc(50%-40px);


    }

}
